# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.peers.ini
.repo.yaml
.vitisWorkspace.json
.wsdata
.theia
logs
hls
/hls_component/hls_component/hls
/hls_component/.cache
/hls_component/hls_component/reports
*_summary
*.log
/hls_component/forward/reports/hls_compile.rpt
/hls_component/forward/reports/*.html
.db
/hls_component/hls_config.cfg
/hls_component/compile_commands.json
/hls_component/forward
hls_config.cfg
v++_compile_forward_guidance.html
hls_compile.rpt
v++_compile_forward_guidance.pb3
/hls_component
data
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.synctex.gz
