# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.peers.ini
.repo.yaml
.vitisWorkspace.json
.wsdata
.theia
logs
hls
/hls_component/hls_component/hls
/hls_component/.cache
/hls_component/hls_component/reports
*._summary
